.container {
  background-color: rgb(154, 169, 190);
  width: 100%;
  padding-bottom: 45px;
}

.avatar {
  width: 450px;
  border-radius: 50%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.name {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

.tag {
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  margin-bottom: 10px;
}

.location {
  font-size: 20px;
  text-align: center;
}
