.transactionHistory {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.transactionHistory tr {
  text-align: center;
}

.transactionHistory tr:hover {
  background-color: #e0e0e0;
}

.transactionHistory td {
  padding: 8px 15px;
  border: 1px solid #ccc;
  text-align: center;
}

.titleOfTable {
  background-color: #333;
  color: white;
  padding: 10px 15px;
}
