.stat-list {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  overflow: visible;
}

.item:hover {
  transform: scale(1.1);
  opacity: 1;
}



.item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100px;
  width: 70px;
  border-radius: 20%;
  transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
  opacity: 0.85;
}

.item-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 5px;
  background-color: #f1f1f1;
}

.label {
  font-weight: bold;
  margin-bottom: 15px;
}

.percentage {
  color: #007bff;
  padding: 8px 12px;
  background-color: aquamarine;
  border-radius: 20%;
}
