.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-flex;
  margin-right: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.name {
    font-size: 18px;
}
